/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    font-family: 'Poppins', sans-serif, 'Kalam', cursive;
}

img {
    width: 100px;
}

.hero{
    height: 343px;
    background-image: url(images/torshov.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0 0 1px black;
}

#title {
    background-color: #457B9D;
    margin: 0 auto 0;
    width: 250px;
}
 #sub-title {
     margin: 0 auto 0;
    background-color: #1D3557;
    font-family: Kalam;
    width: 400px;
 }